  body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

header {  
  background-color: white;  
  position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%;  
  }

.img {
    /* The image used */
    background-image: url("../images/cup.jpg");
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    bottom: 0%;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #ff0000;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
 .container {
    display:flex;
    width: 70%;
    max-width: fit-content;
    height: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 100px;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/* Make the image responsive */
.grid-init {
  margin: auto;
  width: 8vh; /* центрирование контейнера на странице */
  max-width: 50%;
  border-radius: 5px; /* скругление углов */
  border: 3px solid rgba(93, 8, 8, 0.237); /* граница блока */
  background: linear-gradient(to top, #f9b733, #f78b10a2);  /* фон */
  padding: 10px; /* внутренние отступы */
}

.box-init {
  font-size: larger; /* размер шрифта */
  color: #fff; /* цвет текста */
  border-radius: 5px; /* скругление углов */
  background-color: #c67e128f; /* цвет фона */
  border: 1px solid rgba(0, 0, 0, 0.219); /* граница блока */
  padding: 7px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the button and place it in the middle of the container/image */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 25px));
  grid-gap: 10px;
}

@media screen and (max-height: 1080px) {


  .container {
    display:flex;
    width: 70%;
    max-width: fit-content;
    height: 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 100px;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
  float: left;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/* Make the image responsive */
.grid-init {
  flex: 100%;
  margin: auto;
  max-width: 80px;
  border-radius: 5px; /* скругление углов */
  border: 3px solid rgba(93, 8, 8, 0.237); /* граница блока */
  background: linear-gradient(to top, #f9b733, #f78b10a2);  /* фон */
  padding: 10px; /* внутренние отступы */
}

.box-init {
  font-size: larger; /* размер шрифта */
  color: #fff; /* цвет текста */
  border-radius: 5px; /* скругление углов */
  background-color: #c67e128f; /* цвет фона */
  border: 1px solid rgba(0, 0, 0, 0.219); /* граница блока */
  padding: 7px;
  width: auto;
  display: flex;
  justify-content: center;
}

/* Style the button and place it in the middle of the container/image */

.grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100%, 100%));
  grid-gap: 10px;
}

.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
  }

.container :hover {
  background-color: black;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ee2020;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #e42e2e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}
