body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

.img {
    /* The image used */
    background-image: url("../images/cup.jpg");
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Add styles to the form container */
.container {
  display:flex;
  width: 70%;
  max-width: 70%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow-y: auto;
  overflow-x: auto;
  padding: 100px;
  background-color: white;
}

.footer-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    bottom: 0%;
  }
  
  .footer-bar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    justify-content: flex-end;
    font-family: "Sen", sans-serif;
  }

  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #ff0000;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

   /* Style the form */
 #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 100px;
    width: 100%;
    min-width: 500px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: flex;
    overflow-x: scroll;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  } 

  table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
table td, table th {
    padding: 10px;
}
table tbody tr:nth-child(2n) {
    background: #ffb7a8;
}
table tbody tr:hover {
    background: #db0d0d;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ee2020;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #e42e2e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}
