body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
}

header {  
  background-color: white;  
  position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%;  
  }

.img {
    /* The image used */
    background-image: url("/images/cup.jpg");
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    bottom: 0%;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #ff0000;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }

.container {
    display:flex;
    width: 70%;
    max-width: 70%;
    height: 70vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 100px;
    background-color: white;
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #f321218a;
    color: #ffffff;
    width: 50%;
    height: 35%;
    line-height: 70%;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }

  .container-1
  {
    width: 100%;
    float: left;
    margin-top: 50px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    text-align: center;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ee2020;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #e42e2e;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  }
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }