* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .footer-bar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    bottom: 0%;
  }
  
  .footer-bar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    justify-content: flex-end;
    font-family: "Sen", sans-serif;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #ff0000;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  
  .featured-content {
    height: 850px;
    padding: 50px;
    overflow: hidden;
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #3100e4;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .row-image {
    display: flex;
}

  .column-image {
    flex: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 45%;
  margin-right: 10px;
  margin-left: 10px;
}

.cont-1 {
  position: relative;
  width: 100%;
}

.cont-2 {
  position: relative;
  width: 100%;
}

.image-1 {
  display: block;
  width: 100%;
  height: 800px;
}
.image-2 {
  display: block;
  width: 100%;
  height: 800px;
}


.overlay-1 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #dee2e3ba;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
}

.cont-1:hover .overlay-1 {
  width: 100%;
  left: 0;
}

.overlay-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff9f;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .8s ease;
}

.cont-2:hover .overlay-2 {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

aside {
  background-color: #b1160b;
  flex: 300px 3000px calc( 50% - 30px );
      padding: 15px;	
    }

aside.row {
  display: flex;
  flex-wrap: nowrap;
}

row.card {
  flex: 60%;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.833);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(245, 243, 243, 0.666);
}

.container-4 {
  padding: 60px 60px;
}